{% extends 'base.html.twig' %}

{% block title %}Formation Symfony!{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Binvenue sur SymBNB!</h1>
            <p class="lead">Nous sommes en formation de Symfony 4 avec la formation acheté sur Udemy</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <h2>Nos appartements à suivre !</h2>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">

                        3 chambres, <strong>49 000 FCFA /nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://via.placeholder.com/1000x400" alt="" style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement test !
                        </h4>
                        <p class="card-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, laborum.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus !</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">

                        3 chambres, <strong>49 000 FCFA /nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://via.placeholder.com/1000x400" alt="" style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement test !
                        </h4>
                        <p class="card-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, laborum.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus !</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">

                        3 chambres, <strong>49 000 FCFA /nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://via.placeholder.com/1000x400" alt="" style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement test !
                        </h4>
                        <p class="card-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, laborum.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus !</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h2>Nos vendeurs à suivre !</h2>
        <div class="row mt-5">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Kévin Koumdou</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://via.placeholder.com/64x64" class="float-left mr-3">
                            <p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-success float-right">Lire plus</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Kévin Koumdou</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://via.placeholder.com/64x64" class="float-left mr-3">
                            <p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-success float-right">Lire plus</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
